<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
  <!-- 게시글 영역 -->
  <div layout:fragment="main-content" class="container my-3">
    <h2 th:text="${board.title}" class="border-bottom py-2"></h2>
    <div class="card text-bg-light mb-3 shadow-sm">
      <div class="card-body">
        <div th:text="${board.content}" class="card-text"></div>
        <div class="d-flex justify-content-end">
          <!-- 작성자와 작성일을 표시하는 뱃지 -->
          <div class="badge text-bg-secondary p-2">
            <div class="mb-2">
              <span
                th:if="${board.writer != null}"
                th:text="${board.writer.username}"
              ></span>
            </div>
            <div
              th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <!-- 댓글리스트 영역 -->
    <h5
      th:text="|${#lists.size(board.replyList)}개의 댓글이 있습니다|"
      class="border-bottom py-2 my-3"
    ></h5>
    <div th:each="reply : ${board.replyList}" class="card border-success my-3">
      <div class="card-body">
        <div th:text="${reply.content}" class="card-text"></div>
        <div class="d-flex justify-content-end">
          <!-- 작성자와 작성일을 표시하는 뱃지 -->
          <div class="badge text-bg-success p-2">
            <div class="mb-2">
              <span
                th:if="${reply.writer != null}"
                th:text="${reply.writer.username}"
              ></span>
            </div>
            <div th:text="${#temporals.format(reply.createDate, 'yyyy-MM-dd HH:mm')}"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- 답변기능 영역 -->
    <form
      th:action="@{|/reply/create/${board.bno}|}"
      th:object="${replyForm}"
      method="post"
      class="my-3"
    >
      <div th:replace="~{errors :: formErrorFragment}"></div>
      <textarea
        th:field="*{content}"
        cols="30"
        rows="10"
        class="form-control"
        sec:authorize="isAnonymous()"
        disabled
      ></textarea>
      <textarea
        th:field="*{content}"
        cols="30"
        rows="10"
        class="form-control"
        sec:authorize="isAuthenticated()"
        enabled
      ></textarea>
      <div class="d-flex justify-content-between mt-2">
        <a href="/board/list" class="btn btn-secondary btn-sm">목록</a>
        <input type="submit" value="등록" class="btn btn-primary btn-sm" />
      </div>
    </form>
  </div>
</html>
